@charset "utf-8";

#bottomTab{
	z-index: 9999999;
	position: fixed !important;
	position: absolute;
	width: auto;
	height: auto;
	right: 0px;
	bottom: 0px;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.scrollTop + (document.documentElement.clientHeight-this.clientHeight)- 20 :document.body.scrollTop + (document.body.clientHeight-this.clientHeight) - 20);
}

#bottomTab img{
	border: none;
}