@charset "utf-8";
/* CSS Document */

#publicity{
	width: 100%;
	height: 1px;
	display: none;
	text-align: center;
}

#plink{
	display: block;
	width: 1px;
	height: 1px;
	position: relative;
	margin: 0px auto;
	z-index: 500;
}

#pclose{
	display: block;
	width: auto;
	height: auto;
	position: absolute;
	top: 0px;
	right: 10px;
	z-index: 1000;
	color: #fff;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #666666;
	padding: 3px 5px;
	text-decoration: none;
}

#pclose:hover{
	background-color: #000;
}

#publicity img{
	position: absolute;
	top: 100px;
	left: 0px;
	width: auto;
	height: auto;
	border: 8px solid #FFFFFF;
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}